.recados-page {
  background-color: #FFFBEF;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
}


.recados-banner {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;              
  height: 180px;             
  background-color: rgba(1, 70, 39, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;       
}


.recados-banner-content {
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}


.recados-title {
  font-family: 'Plus Jakarta Sans SemiBold', sans-serif;
  color: white;
  font-size: 40px;
  flex-grow: 1;
}


.recados-search {
  background-color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  flex: 0 0 300px;
  font-family: 'Plus Jakarta Sans', sans-serif;
    color: #404040;

}


.voltar-btn {
  background-color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Plus Jakarta Sans SemiBold', sans-serif;
  color: #404040;
  cursor: pointer;
}


.recados-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 40px;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
 
}

.recado-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.recado-card:hover {
  transform: scale(1.01);
}

.recado-titulo {
  font-family: 'Plus Jakarta Sans SemiBold', sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}

.recado-data {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px;
}

.recado-status {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Plus Jakarta Sans SemiBold', sans-serif;
  margin-bottom: 10px;
}

.protegido {
  background-color: #B5D7D6;
  color: #404040;
}

.lido {
  background-color: #014627;
  color: white;
}

.recado-texto {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}

.texto-protegido {
  filter: blur(5px);
  user-select: none;
}

.recado-autor {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.recado-leitura {
  font-size: 12px;
  color: #666;
}
.recado-status.lido p {
  color: #FFFFFF;
}
