/* src/styles/TurmasResponsavel.css */
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #FFFBEF;
 
}

.turmas-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header verde com título e botão */
.turmas-header {
  background-color: rgba(1, 70, 39, 0.87);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  width: 100%;
  box-sizing: border-box;
}

.turmas-header h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;

  align-items: center;
  padding: 40px 80px;
  
}

/* Botão Voltar */
.voltar-btn {
  background-color: #D9D9D9;
  color: #363636;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Grid de cards centralizado */
.cards-grid {
  max-width: 1100px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 24px;
  padding: 0 24px;
}

.turma-card {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #eee;
}

.turma-card img {
  width: 56px;
  height: 56px;
  object-fit: contain;
  border-radius: 50%;
}

.card-text h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #363636;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.card-text p {
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #363636;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
