.turmas-responsavel-container {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #FFFBEF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.turmas-header {
  background-color: rgba(1, 70, 39, 0.87);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px 60px;
}

.turmas-header h1 {
  font-weight: 600;
  font-size: 40px;
  margin: 0;
}

.voltar-btn {
  background-color: #D9D9D9;
  color: #404040;
  border: none;
  padding: 10px 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 40px 60px;
  justify-content: center;
}

.turma-card {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #eee;
  width: 280px;
}

.turma-card img {
  width: 56px;
  height: 56px;
  object-fit: contain;
  border-radius: 50%;
}

.card-text h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #363636;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.card-text p {
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #363636;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
